pydantic==2.11.5
langchain-core==0.3.63
pandas==2.3.0
langchain-openai==0.3.19
python-dotenv==1.1.0
langgraph==0.4.8
langgraph-checkpoint-sqlite==2.0.10
fastapi==0.115.12
uvicorn==0.34.3
langgraph-supervisor==0.0.27
streamlit==1.45.1
-e .